.cars {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color-white);
  border-radius: 0.5rem;
  height: 28rem;
  &__card {
    &__SEDANS {
      background-color: var(--color-yellow-500);
      padding: 1rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    &__SUVS {
      background-color: var(--color-blue);
      padding: 1rem;
    }
    &__LUXURY {
      background-color: var(--color-green);
      padding: 1rem;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
  &__img {
    height: 3rem;
    margin-top: 1rem;
  }
  &__button {
    background-color: var(--color-gray-100);
    border-radius: 1.5rem;
  }
  &__about {
    line-height: 1.6;
  }
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
