.username {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.user {
  &-profile {
    max-width: 60rem;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
  }

  &-links {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5rem;
  }
  &-cards {
    display: flex;
    align-items: center;
  }
  &-images {
    height: 1rem;
  }

  &-image {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    margin-bottom: 1.75rem;
  }

  &-hobbies {
    .hobbies {
      margin: 1rem;
    }
  }

  &-img {
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &-details {
    padding: 1rem;
    background-color: var(--color-gray-200);
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    &-box {
      padding: 2rem;
    }
    &-value {
      &-top {
        margin-bottom: 2rem;
      }
    }
  }

  &-languages {
    padding: 1rem;
    background-color: var(--color-gray-200);
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    &-english {
      margin-top: 0.5rem;
    }
  }

  &-info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-actions {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &-hobbies {
    padding: 1rem;
    background-color: var(--color-gray-200);
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
  }

  /* For screens smaller than 768px (phones) */
  @media screen and (max-width: 767px) {
    &-profile {
      max-width: 100%;
    }

    &-links {
      justify-content: center;
      padding: 0.25rem;
    }

    &-details,
    &-languages,
    &-hobbies {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  /* For screens larger than or equal to 768px (laptops) */
  @media screen and (min-width: 768px) {
    &-profile {
      max-width: 60rem;
    }

    &-links {
      justify-content: end;
      padding: 0.5rem;
    }

    &-details,
    &-languages,
    &-hobbies {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}
