.username {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.location {
}

.user {
  &-profile {
    max-width: 60rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
  }
  &-links {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5rem;
  }
  &-images {
    height: 1rem;
  }
  &-image {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;

    margin-bottom: 1.75rem;
  }
  &-hobbies {
    .hobbies {
      margin: 1rem;
    }
  }

  &-img {
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &-details {
    padding: 1rem;
    background-color: var(--color-gray-200);
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    &-box {
      padding: 2rem;
    }
    &-value {
      &-top {
        margin-bottom: 2rem;
      }
    }
  }
  &-languages {
    padding: 1rem;
    background-color: var(--color-gray-200);
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    &-english {
      margin-top: 0.5rem;
    }
  }

  &-info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-actions {
    border-radius: 0.5rem;
    background-color: var(--color-gray-200);
  }

  &-hobbies {
    padding: 1rem;
    background-color: var(--color-gray-200);
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
  }
}
