.username {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.user {
  display: flex;

  &-profile {
    max-width: 60rem;
    background-color: var(--color-gray-300);

    border-radius: 2rem;
    box-shadow: 0 5px 36px -9px var(--color-gray-400); /* Add shadow */
    &-top {
      height: 15rem;
      background: url("https://images.unsplash.com/photo-1494825514961-674db1ac2700?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-position: 50%;
      background-size: cover;
      padding: 0rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      .bars {
        height: 3rem;
      }
    }
  }

  &-cards {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
  }
  &-data {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &-images {
    height: 1rem;
  }

  &-image {
    width: 10rem;
    height: 10rem;

    border-radius: var(--border-circle);
    margin-bottom: 1.75rem;
    flex-shrink: 0;
    border: 6px solid green;
    background-color: var(--color-blue-500);
    cursor: pointer;
    margin-top: -8rem;
  }

  &-hobbies {
    &-box {
      display: flex;
      align-items: center;
    }
    .hobbies-img {
      height: 2rem;
    }
    .hobbies {
      margin: 1rem;
    }
  }

  &-img {
    height: 2rem;
  }

  &-details {
    padding: 1rem;
    background-color: var(--color-gray-200);
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    img {
      height: 2rem;
    }
  }

  &-languages {
    padding: 1rem;
    background-color: var(--color-gray-200);
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    &-english {
      margin-top: 0.5rem;
    }
  }
  .username {
    color: var(--color-black);
  }
  h2 {
    color: var(--color-black);
  }
  &-info {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &-actions {
    border-radius: 0.5rem;
  }

  &-hobbies {
    padding: 1rem;
    background-color: var(--color-gray-200);
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
  }

  /* For screens smaller than 768px (phones) */
  @media screen and (max-width: 767px) {
    &-profile {
      max-width: 100%;
    }

    &-links {
      justify-content: center;
      padding: 0.25rem;
    }

    &-details,
    &-languages,
    &-hobbies {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  /* For screens larger than or equal to 768px (laptops) */
  @media screen and (min-width: 768px) {
    &-profile {
      max-width: 60rem;
    }

    &-links {
      justify-content: end;
      padding: 0.5rem;
    }

    &-details,
    &-languages,
    &-hobbies {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}
.user-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
