.tab {
  display: flex;
  margin-bottom: 1rem;

  &__item {
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-gray-200);
    cursor: pointer;
    &.active {
      color: var(--color-red);
      border-bottom: 3px solid var(--color-red);
    }
  }
  &__content {
    display: flex;
    align-items: baseline;
    flex-direction: column;

    padding: 1rem;
    img {
      height: 15rem;
    }
    p {
      padding-right: 10rem;
      display: flex;
    }
  }
}
