.tab {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__item {
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-gray-200);
    cursor: pointer;
    &:hover {
      background-color: var(--color-gray-400);
    }
    &.active {
      color: var(--color-red);
      border-bottom: 3px solid var(--color-red);
    }
  }
  &__content {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    max-width: 75%;
    margin-right: 2rem;
    padding: 1rem;
    img {
      height: 15rem;
    }
    p {
      padding-right: 10rem;
      display: flex;
    }
  }
}
.page {
  display: flex;
}
